{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Login{% endblock title %}</title>
{% block body %}
 <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'images/bg_5.jpg' %}');overflow: scroll" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span> Admin Login</span></p>
              <h1 class="mb-3">Admin Login </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
<div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
          {% if form.errors %}
                 <p> incorrect username or password please login again or register </p>
          {% else %}
            <h2 class="mb-5">Log in with your account</h2>
          {% endif %}
            <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="name">Username</label>
                      {{ form.username }}
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-md-12 form-group">
                      <label for="name">Password</label>
                      {{ form.password }}
                    </div>
                  </div>
                  
                  <div class="row">
                    <div style="padding-left: 30%;">
                        <button type="submit" class="btn btn-primary mb-2">Login</button>
                    </div>
                  </div>
          </div>
        </div>
      </div>
{% endblock body %}
