{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Tours
{% endblock title %}
{% block body %}
  
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'images/bg_2.jpg' %}');overflow: scroll" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Tour</span></p>
              <h1 class="mb-3">Tours Destination</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->

  
<div style="padding-top:8%;">
   <div class="container">
<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XGqU4iH1T5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <h3 style="font-family: 'Permanent Marker', cursive;color:blue;text-align:center;font-size:26px;padding-top:3%;padding-bottom:3%">How to book?</h3>
  <p><b><p>For security issues, we are asking our customers not to send money or reply to chats apart from <b><u>tuksimadventures@gmail.com, our online support or whatsapp support.</u></b></p>
           <p>For bookings please search your destination and click it. If you haven't found you tour, fill the form at the bottom and we will reply you instantly via email(recommended) provided or from our whatsapp and online support.</p>
           <p>Each destination has it's own price. We like to listen on the standard and price that our customers like and can afford. Each destination's price will be negotiated depending on standards that customers require and secure payment methods will be provided.</p></b></p>
    </div>
</div>

</div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
            {% for tours in tour %}
              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">
                <a href="{% url 'tour_detail' tours.slug  %}" class="block-5" style="background-image: url({{ tours.image.url }});">
                  <div class="text">
                    <span class="type">{{ tours.type }}</span>
                    <h3 class="heading">{{ tours.name }}</h3>
                    <div class="post-meta">
                      <span>{{ tours.location }}</span>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          <!-- END -->


</div>
</div>

          <div class="col-lg-4 sidebar">
            <div class="sidebar-box ftco-animate">
              <div class="search-tours bg-light p-4">
                <h3>Find your tour</h3>
                <b>
                <p style="color: Green">Fill ONLY ONE information to get best result. Either <br>
                *NAME  or  <br>*TOUR TYPE</p>
                </b>
                <form action="" method="get">
                {% csrf_token %}
                  <div class="fields">
                    <div class="row flex-column">
                               {{ myfilter.form }}  
                      <div class="check-out col-sm-12 group mb-3">
                      </div>
                      <div class="select-wrap col-sm-12 group mb-3">
                       
                      <div class="col-sm-12 group mb-3">
                        <input type="submit" class="search-submit btn btn-primary" value="Find Tour">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
</div>
</div>
           
 
          </div>
        </div>
          <div class="container">
    <h3 style="text-align: center">Didn't find you tour?</h3>
    <p style="color:red;">fill the below form with the tour name, number of people and email and we will arrange and contact you shortly through your email.</p>  

<form method="post" action="{% url 'tours' %}">
{% csrf_token %}
{% if bkform.errors %}
            <span>{{ bkform.errors|striptags }}</span>
        {% endif %}
  <div class="form-group">
  <div style="color:green;">  <label for="exampleInputEmail1">Email address</label></div> 
      {% render_field bkform.email class="form-control" placeholder="example@example.com"%}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
   <div style="color:green;"> <label for="exampleInputPassword1">Full name</label></div>
       {% render_field bkform.full_name class="form-control" placeholder="John David Paul"%}
  </div>
  <div class="form-group">
    <div style="color:green;"><label for="exampleInputPassword1">Tour name</label></div>
      {% render_field bkform.tour_name class="form-control" placeholder="Kilimanjaro"%}
  </div>
 <div class="form-row align-items-center">
    <div class="col-auto my-1">
     <div style="color:green;"> <label class="mr-sm-2" for="inlineFormCustomSelect">Number of People</label></div>
        {% render_field bkform.quantity class="form-control" placeholder="1"%}
</div>
</div>
  <div class="form-group">
    <div style="color:green;"><label for="exampleInputPassword1">Message</label></div>
      {% render_field bkform.message class="form-control" placeholder="Hello i need to climb mount Kilimanjaro.........."%}
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
      </div>
      </div>

    </section>


{% endblock body %}
