{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Bad Request{% endblock title %}</title>
{% block body %}
<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'images/bg_4.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Experience the best trip ever</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Your financial and personal security is 
                               our first priority
                               </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'images/bg_3.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Travel Operator Just For You</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
          <div class="row">
            <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
              <h1 class="m-0">400</h1>
              <h6>Bad Request</h6>
              <p>Sorry Bad Request<span class="text-info"><a href="{% url 'home' %}">  our Home Page</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
