{% extends 'base.html' %}
<title>{% block title %}Page Not Found{% endblock title %}</title>
{% block body %}
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
          <div class="row">
            <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
              <h1 class="m-0">404</h1>
              <h6>Page not found</h6>
              <p>Sorry this page is not found kindly visit<span class="text-info"><a href="{% url 'home' %}">  our Home Page</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
