{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Update Post{% endblock title %}</title>
{% block body %}
<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'images/bg_4.jpg' %}');overflow: scroll">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Experience the best trip ever</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Your financial and personal security is 
                               our first priority
                               </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'images/bg_3.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Travel Operator Just For You</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->
<div style="background-color: rgb(176, 188, 240);
  padding-top: 8%;
  padding-left: 35%;">
   <form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="padding-left: 20%;">
    <button type="submit" class="btn btn-primary mb-2">Update Post</button>
    </div>
   </form>
</div>
{% endblock body %}
