{% extends 'base.html' %}
{% block body %}

 <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
          <div class="row">
            <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
              <h1 class="m-0">500</h1>
              <h6>Server Error</h6>
              <p>Sorry we are currently facing server error. Pleae inform us<span class="text-info"><span class="text-info"><a  href="{% url 'contactus' %}"> or contact us.</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}