<html lang="en">

{% load static %}
  <head>
    <title>{% block title %}
    {% endblock title %} Tuksim Adventures</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="SjyYoQaHbJP-90YOfPXMvhUI77f_g9bUK-uu88tT6qc" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168730788-2"></script>
<script>
 
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

    gtag('config', 'AW-773685921');
  gtag('config', 'UA-168730788-2');
</script>
    <!-- Global site tag (gtag.js) - Google Ads: 773685921 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773685921"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-773685921'); </script>

    <meta name="description" content="Tuksim Adventures">
    <meta name="author" content="Tuksim">
    <link rel="icon"  href="{% static 'images/fav/logo.png' %}" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body>
{% if messages %}<br>
<div style="font-size:13px;" class="col-md-12 text-center mt-0 pt-0">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message | safe }}</div>   
  {% endfor %}
</div>
{% endif %}
{% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">TuksimAdventures</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if url_name == 'home' %} active {%endif%}"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li class="nav-item {% if url_name == 'tours' %} active {%endif%}"><a href="{% url 'tours' %}" class="nav-link">Tours</a></li>
            <li class="nav-item {% if url_name == 'blog' %} active {%endif%}"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
            <li class="nav-item {% if url_name == 'contactus' %} active {%endif%}"><a href="{% url 'contactus' %}" class="nav-link">Contact</a></li>
          <li class="nav-item"><a href="https://immigration.go.tz/index.php/en/" class="nav-link">Visa</a></li>            
          </ul>
        </div>
      </div>
    </nav>
{% endwith %}
    <!-- END nav -->
{% block body %}
{% endblock body %}
{% block comments %}
{% endblock comments %}
<!-- footer-->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Tuksim Adventures</h2>
              <p>We established this firm as we saw the need of security for travelers' financial, property and health. We take responsibility of your destinations with 100% guarantee.</p>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Book Now</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Hotels</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Tour</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Car Rent</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Beach &amp; Resorts</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Mountains</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Cruises</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Top Destinations</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Kilimanjaro</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Serengeti</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Zanzibar</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Ngorongoro</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Manyara</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Olduvai</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Mikumi</a></li>
                <li><a href="{% url 'tours' %}" class="py-2 d-block">Selous Game Reserve</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Contact Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Arusha Tanzania</a></li>
                <li><a href="#" class="py-2 d-block">+255 748420717 & +255 678 439 212</a></li>
                <li><a href="#" class="py-2 d-block">tuksim@tuksimadventures.com</a></li>
                <li><a href="#" class="py-2 d-block">www.tuksimadventures.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
                <li class="ftco-animate"><a href="https://www.youtube.com/c/TuksimAdventures"><span class="icon-youtube"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/tuksimadventures"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/tuksimadventures"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was made by <a href="https://instagram.com/smartcodes_tz" target="_blank">Luqman Tuke(smartcodes-tz)</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  
  <script>(function(){var pp=document.createElement('script'), ppr=document.getElementsByTagName('script')[0]; stid='VDhuR2JJN2k5OTFaSnFISmZpV3NRdz09';pp.type='text/javascript'; pp.async=true; pp.src=('https:' == document.location.protocol ? 'https://' : 'http://') + 's01.live2support.com/dashboardv2/chatwindow/'; ppr.parentNode.insertBefore(pp, ppr);})();</script>

  <!-- loader -->
  <!-- GetButton.io widget -->

<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+255678439212", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  </body>
</html>

<!-- endfooter-->
