{% extends 'base.html' %}
{% load static %}
{% block body %}

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'images/bg_4.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Experience the best trip ever</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'images/bg_1.jpg' %}');overflow: scroll">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Your financial and personal security is 
                               our first priority
                               </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'images/bg_3.jpg' %}');overflow: scroll;">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <h1 class="mb-3">Travel Operator Just For You</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->
  <div style="padding-top:8%;">
<section class="ftco-section-2">
      <div class="container-fluid d-flex">
        <div class="section-2-blocks-wrapper row no-gutters">
          <div class="img col-sm-12 col-lg-6" style="background-image: url('{% static 'images/logo.jpg' %}');overflow: scroll">
          </div>
          <div class="text col-lg-6 ftco-animate">
            <div class="text-inner align-self-start">
              <h3>Welcome to <i>Tuksim Adventures</i> incoperating with <u><i>Larusa Treks And Safaris</i></u>
              </h3>
              <p>We established this firm as we saw the need of security for travelers' financial, property and health. We take responsibility of your destinations with 100% guarantee.</p>
              <p>We provide service such as Trekking, safari beach tours and many more. Also, we arrange any tour suggested by the customer. Visit <a href="{% url 'tours' %}" target="_blank">tours page</a> for more info.</p>
             <p>We have a 247 customer support through our email, online support and our whatsapp support. All this is for providing a good and secured services. <a href="{% url 'contactus' %}" target="_blank">Contact us</a> for more info.</p>
            <p>We do provide blog posts news everyweek about different things concerning Adventures. The contents are free and doesn't need account to read them. Consider reading them in <a href="{% url 'blog' %}" target="_blank">blog page</a></p>

            </div>
          </div>
          </div>
        </div>
      </div>

</div>


<div style="padding-top:8%;">
   <div class="container">
  <div class="row">
    <div class="col">
 <iframe width="560" height="400" src="https://www.youtube.com/embed/nle3u6Ww6Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col">
  <h3>How to book?</h3>
  <p><b><p>For security issues, we are asking our customers not to send money or reply to chats different from <b><u>tuksim@tuksimadventures.com, our online support or whatsapp support.</u></b></p>
           <p>For bookings please visit our <a href="{% url 'tours' %}"><i><u>Tours</u></i></a> page and follow video guide and fill the form at the bottom and we will reply you instantly via email(recommended) provided or from our whatsapp and online support.</p>
           <p>Each destination has it's own price. We like to listen on the standard and price that our customers like and can afford. Each destination's price will be negotiated depending on standards that customers require and secure payment methods will be provided.</p></b></p>
    </div>
</div>

</div>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url('{% static 'images/safari.jpg' %}');"></a>
            <div class="text text-center">
              <h2>Safari</h2>

            </div>
          </div>
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url({% static 'images/beach.jpg' %});"></a>
            <div class="text text-center">
              <h2>Beach Tours</h2>
  
            </div>
          </div>
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url({% static 'images/mountain.jpg' %});"></a>
            <div class="text text-center">
              <h2>Mountain Tours</h2>

            </div>
          </div>
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url({% static 'images/family.jpg' %});"></a>
            <div class="text text-center">
              <h2>Family Tours</h2>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-sailboat"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Special Activities</h3>
                <p>We perform special activities such as charity and any activity that the customer rekons.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-around"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Travel Arrangements</h3>
                <p>We arrange and assure secured travel to different places within the country.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-compass"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Private Guide</h3>
                <p>We provide private guide in all places within the country with high security and standard.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-map-of-roads"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Adventure</h3>
                <p>We provide adventure activities such as mountain climbing beach tour and safari.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container-fluid">
        <div class="row no-gutters justify-content-center mb-5 pb-5 ftco-animate">
          <div class="col-md-7 text-center heading-section">
            <h2>Most Popular Destination</h2>
          </div>
        </div>
        <div class="row no-gutters">
        {% for dest in tours %}
          <div class="col-md-6 col-lg-3 ftco-animate">
            <a href="{% url 'tour_detail' dest.slug %}" class="block-5" style="background-image: url('{{ dest.image.url }}');">
              <div class="text">
                <h3 class="heading">{{ dest.name }}</h3>
                <div class="post-meta">
                  <span>{{ dest.location }}</span><br>
                   <span>Tour Type</span>
                  <h3 class="heading">Category: {{ dest.tour_type }}</h3>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}  
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Satisfied Guests says</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="carousel owl-carousel ftco-owl">
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url({% static 'images/chris.jpg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">Great services, hospitality, support, affordable price and security is one of the best thing that i like from Tuksim Adventures.</p>
                  <p class="name">Chris Barnet</p>
                  <span class="position">Guests from Australia</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url({% static 'images/anna.jpeg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I had about the beauty of Zanzibar and saw an ad of Tuksim Adventures and they planned well and I enjoyed. Thank you Tuksim</p>
                  <p class="name">Anna Scorfield</p>
                  <span class="position">Guests from Italy</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url({% static 'images/dennis.jpg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I'm a botanist and visited Tanzania to perform my research. Tuksim Adventures arranged the trip and I succeeded my research.</p>
                  <p class="name">Dennis Alphonce</p>
                  <span class="position">Usa</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url({% static 'images/richard.jpeg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I had a dream of climbing mount Kilimanjaro and I was recommended to Tuksim Adventures by my friend and the trek was amaizing.</p>
                  <p class="name">Richard Paul</p>
                  <span class="position">Guests from Britain</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url({% static 'images/ben.jpg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I went to Serengeti with my family and Tuksim Adventure took a great handle of my trip and i really enjoyed. Thanks Tuksim ..</p>
                  <p class="name">Ben Klaus</p>
                  <span class="position">Guest from Germany</span>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>


    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Blog</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="carousel1 owl-carousel ftco-owl">
          {% for post in posts %}
            <div class="item">
              <div class="blog-entry">
                <a href="{% url 'post_detail' post.slug %}" class="block-20" style="background-image: url({{ post.image.url }});">
                </a>
                <div class="text p-4">
                  <div class="meta">
                    <div><a href="#">{{ post.publish }}</a></div>
                    <div><a href="#">{{ post.author }}</a></div>
                  </div>
                  <h3 class="heading"><a href="#">{{ post.name }}</a></h3>
                  <p class="clearfix">
                    <a href="{% url 'post_detail' post.slug %}" class="float-left">Read more</a>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
           
          </div>
        </div>
      </div>
    </section>

{% endblock body %}